body{
    background-image: url(santos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;

}
input{
    background-color: black;
    color: white;
}
button{
    background-color: black;
    color: white;
}
